table{
font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: 20%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: aqua;
  }
  button{
    margin-top: 20px;
    color: lightcoral;
    margin-left: 20%;
  }
  span{
    margin-top: 20px;
  }
  
